.ps .ps__rail-y:hover,
.ps .ps--clicking {
    background: transparent !important;
    opacity: 0.8 !important;
}

.ps__thumb-y {
    width: 6px !important;
    background-color: #aaa !important;
}

.ps .ps__rail-x:hover,
.ps .ps--clicking {
    background: transparent !important;
    opacity: 0.8 !important;
}

.ps__thumb-x {
    height: 6px !important;
    background-color: #aaa !important;
}
